In [1]:
import numpy as np 
import pandas as pd

In [3]:
dele=pd.read_csv("deliveries.csv")
matches=pd.read_csv("matches.csv")

In [4]:
matches['match_id'] = matches['id']
matches = matches.drop('id', axis=1)

In [5]:
df = dele.merge(matches, on='match_id', how='left')

0         False
1         False
2         False
3         False
4         False
          ...
150455    False
150456     True
150457    False
150458    False
150459    False
Name: dismissal_kind, Length: 150460, dtype: bool

In [13]:
train_data=df[(df['season']==2008)].copy()

In [21]:
train_data.fillna('notout',inplace=True)

In [35]:
abc=train_data[train_data['dismissal_kind']!='notout'].copy()

In [28]:
abc.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder', 'season', 'city', 'date', 'team1', 'team2',
       'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner',
       'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue', 'umpire1',
       'umpire2', 'umpire3'],
      dtype='object')

In [36]:
abc[['inning','batting_team','bowling_team','over','ball','batsman','non_striker','bowler','dismissal_kind']]

,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,dismissal_kind
13895,1,Kolkata Knight Riders,Royal Challengers Bangalore,6,2,SC Ganguly,BB McCullum,Z Khan,caught
13936,1,Kolkata Knight Riders,Royal Challengers Bangalore,13,1,RT Ponting,BB McCullum,JH Kallis,caught
13968,1,Kolkata Knight Riders,Royal Challengers Bangalore,18,1,DJ Hussey,BB McCullum,AA Noffke,caught
13993,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,1,R Dravid,W Jaffer,I Sharma,bowled
14000,2,Royal Challengers Bangalore,Kolkata Knight Riders,3,2,V Kohli,W Jaffer,AB Dinda,bowled
...,...,...,...,...,...,...,...,...,...
27264,2,Rajasthan Royals,Chennai Super Kings,7,4,Kamran Akmal,SR Watson,JA Morkel,run out
27312,2,Rajasthan Royals,Chennai Super Kings,15,1,SR Watson,YK Pathan,M Muralitharan,bowled
27329,2,Rajasthan Royals,Chennai Super Kings,17,6,M Kaif,YK Pathan,M Muralitharan,caught
27330,2,Rajasthan Royals,Chennai Super Kings,18,1,RA Jadeja,YK Pathan,JA Morkel,caught
27334,2,Rajasthan Royals,Chennai Super Kings,18,5,SK Warne,YK Pathan,JA Morkel,run out